* {
    font-family:  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background: linear-gradient(to bottom, #f3ffed, #ffffff, #f3ffed, #ffffff, #f3ffed);
}
header {
    text-align: center;
}
main {
    margin: 10px;
    padding: 12px;
}


button {
    background: radial-gradient(ellipse at center, #ffffff, #ffffff, #ebffe1);
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 4px;
    padding: 4px;
}


a {
    color: #00cafd;
    font-size: 20px;
    text-decoration: none; 
    transition: color 0.3s; 
 }
 a:hover {
    color: #55ff00;
 }

 
.navbar {
    padding: 10px;
}
.navbar > li, .navbar > ul {
    margin: 6px;
    list-style-type: none;
}


.section-block {
    margin: 10px;
    padding: 12px;
}
.alchemy-block {
    display: flex;
    flex-wrap: wrap;
}
.alchemy-block > div {
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-flow: column;
    padding: 16px;
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 14px;
    background: radial-gradient(ellipse at center, #ffffff, #ffffff, #ebffe1);
} 
.alchemy-block > div > img {
    width: 60%;
    height: 60%;
    align-self: center;
}


@font-face {
    font-family: "FDARK";
    src: url("fonts/FDARK.ttf")
}
@font-face {
    font-family: "Prototype";
    src: url("fonts/Prototype.ttf");
}